#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
}

#circle div {
  position: absolute;
  border-radius: 50%;
}

#circle img {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 15px;
  top: 15px;
  background-color: whitesmoke;
  border-radius: 50%;
  animation: r1 reverse 1s infinite ease-in;
}

.c1 {
  width: 100px;
  height: 100px; 
  left: 10px;
  top: 10px;
  border: 2px solid transparent;
  border-top: 1px solid #E87114;
  animation: r1 1s infinite ease-out;
}

.c2 {
  width: 110px;
  height: 110px; 
  left: 5px;
  top: 5px;
  border: 2px solid transparent;
  border-top: 1px solid #FFAF00;
  animation: r1 reverse 1s infinite ease-in;
}

.c3 {
  width: 120px;
  height: 120px; 
  left: 0;
  top: 0;
  border: 2px solid transparent;
  border-top: 1px solid #629900;
  animation: r1 1s infinite ease-out;
}

@keyframes r1 {
  0%
  {
    transform: rotate(0deg);
  }

  100%
  {
    transform: rotate(360deg);
  }
}