.entry {
  border: .5px solid rgba(153, 153, 153, 0.50);
  border-left:none;
  padding: .5em;
}

.entry table {
  border-collapse: collapse;
  width: 20rem;
}

.cell {
  border: .5px solid rgba(153, 153, 153, 0.25);
  width: 8em;
  height: 2em;
}

.delim {
  border-top: .3px dotted rgba(153, 153, 153, 0.50);
}

.number {
  width: 2em;
}

.seed {
  width: 2em;
  color: #AEAEAE;
}

.name {
  color: #00B4E7;
  cursor: pointer;
  padding: .3em 0;
}

.name:hover {
  color: #565656;
}

table.bracket {
  table-layout: fixed;
  border-spacing: .3em 1em;
}

.bracket th {
  text-align: left;
  border-bottom: .5px solid rgb(153, 153, 153);
}
