.clickable{
  cursor: pointer;
}

.margin{
  margin: 1em;
}

.margin-left {
  margin-left: 1em;
}

.content{
  margin-left: 200px;
}

.input{
  display: block;
  color: #517F65;
}

.input .button {
  cursor: pointer;
  font-weight: 900;
  border: 1px solid #517F65;
  padding: .1em 1em;
  border-radius: 5px;
  display: inline-block;
}

.input .button:hover {
  opacity: .7;
}

.section{
  color: #517F65;
  padding: .5em 0;
  border-bottom: 1px solid #517F65;
}
