@keyframes button-transition {
  0% {
    background-color: white;
    color: #0074B2;
  }
  100% {
    background-color: #0074B2;
    color: white;
  }
}

@keyframes link-transition {
  0% {
    color: #0074B2;
  }
  100% {
    color: #505050;
  }
}

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in, .container, .form-container {
  animation: .5s ease-out init;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #F9F9F9;
  color: #505050;
}

a {
  text-decoration: none;
  color: #0074B2;
  font-weight: 700;
}

a:hover {
  animation: 0.2s ease-in link-transition;
  color: #505050;
  cursor: pointer;
}

.shadow, .container, .form-container {
  box-shadow: 2px 3px #a0a0a0;
}

@media screen and (max-width: 580px) {
  .shadow, .container, .form-container {
    box-shadow: none;
  }
}

.container, .form-container {
  background-color: white;
  border: .5px solid lightgrey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: 8px;
  overflow: auto;
}

.public, .breadcrumb {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .public, .breadcrumb {
    width: 60%;
  }
}

@media screen and (max-width: 990px) {
  .public, .breadcrumb {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .public, .breadcrumb {
    width: 100%;
  }
}

.breadcrumb {
  margin: 2.3em auto;
  margin-bottom: 0;
}

.button-inline .button {
  display: inline-block;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #0074B2;
  color: #0074B2;
  border-radius: 5px;
  padding: .2em .5em;
}

.button:hover {
  animation: 0.2s ease-in button-transition;
  background-color: #0074B2;
  color: white;
}

.button:hover a, .button:hover a:hover {
  animation: none;
  color: white;
}

.button-group {
  margin-left: .5em;
}

.button-group .button + .button {
  margin-left: .3em;
}

.info {
  font-style: italic;
  font-size: .8em;
  color: #6a6a6a;
  margin-left: .5em;
  font-weight: 500;
}

.form-style, input, select, textarea {
  padding: .3em .3em;
  width: 100%;
  box-sizing: border-box;
  color: #373737;
  border-radius: 5px;
  border: 1px solid #9d9d9d;
  outline: none;
}

.input-group {
  margin-bottom: .5em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  width: 20rem;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .form-box {
    width: 100%;
  }
}

.form-box input[type="checkbox"] {
  width: initial;
  margin-right: .3em;
}

.form-box a + a {
  margin-left: 1em;
}
