body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #F9F9F9;
  color: #505050;
}

a {
  text-decoration: none;
  color: #0074B2;
  font-weight: 700;
}

a:hover {
  color: #505050;
  cursor: pointer;
}

.shadow, .container {
  box-shadow: 2px 3px #a0a0a0;
}

.container {
  background-color: white;
  border: .5px solid lightgrey;
  padding: 1em;
  border-radius: 8px;
  overflow: auto;
}

.content {
  width: 60%;
  margin: 0 auto;
}

.breadcrumb {
  width: 60%;
  margin: 2.3em auto;
  margin-bottom: 0;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #0074B2;
  color: #0074B2;
  border-radius: 5px;
  display: inline-block;
  margin-left: 1em;
  padding: .2em .5em;
}

.button:hover {
  background-color: #0074B2;
  color: white;
}

.button:hover a, .button:hover a:hover {
  color: white;
}

.button-group .button + .button {
  margin-left: .3em;
}

.info {
  font-style: italic;
  font-size: .8em;
  color: #6a6a6a;
  margin-left: .5em;
  font-weight: 500;
}
