@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
  background-color: #F9F9F9;
  color: $primary;
}

a {
  text-decoration: none;
  color: $click;
  font-weight: 700;
}

a:hover{
  color: $clickHover;
  cursor: pointer;
}

.shadow {
  box-shadow: 2px 3px darken(lightgray, 20%);

  @media screen and (max-width: 580px) {
    box-shadow: none;
  }
}

.container {
  @extend .shadow;

  background-color: white;
  border: .5px solid lightgrey;
  padding: 1em;
  border-radius: 8px;
  overflow: auto;
}

.public {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 1280px) {
    width: 60%;
  }

  @media screen and (max-width: 990px) {
    width: 70%;
  }

  @media screen and (max-width: 580px) {
    width: 100%;
  }
}

.breadcrumb{
  @extend .public;

  margin: 2.3em auto;
  margin-bottom: 0;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  font-family: $primaryFont;
  border: 1px solid $click;
  color: $click;
  border-radius: 5px;
  display: inline-block;
  padding: .2em .5em; 
}

.button:hover {
  background-color: $click;
  color: white;

  a, a:hover {
    color: white;
  }
}

.button-group {
  .button + .button {
    margin-left: .3em;
  }
}

.info {
  font-style: italic;
  font-size: .8em;
  color: lighten($primary, 10%);
  margin-left: .5em;
  font-weight: 500;
}

