@import 'variables';
@import 'animations';

body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
  background-color: #F9F9F9;
  color: $primary;
}

a {
  text-decoration: none;
  color: $click;
  font-weight: 700;
}

a:hover{
  @include colorize(link-transition);

  color: $clickHover;
  cursor: pointer;
}

.shadow {
  box-shadow: 2px 3px darken(lightgray, 20%);

  @media screen and (max-width: 580px) {
    box-shadow: none;
  }
}

.container {
  @extend .shadow;
  @extend .fade-in;
  
  background-color: white;
  border: .5px solid lightgrey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: 8px;
  overflow: auto;
}

.public {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 1280px) {
    width: 60%;
  }

  @media screen and (max-width: 990px) {
    width: 70%;
  }

  @media screen and (max-width: 580px) {
    width: 100%;
  }
}

#breadcrumb{
  @extend .public;

  margin: 2.3em auto;
  margin-bottom: 0;
}

.button-inline .button {
  display: inline-block;
}

.button-block .button {
  display: block;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  font-family: $primaryFont;
  border: 1px solid $click;
  color: $click;
  border-radius: 5px;
  padding: .2em .5em; 
}

.button.disabled {
  animation: none;
  background-color: lighten($primary, 35%);
  border: 1px solid $primary;
  color: whitesmoke;
}

.button.disabled:hover{
  animation: none;
  cursor: not-allowed;
  background-color: lighten($primary, 35%);
  border: 1px solid $primary;
  color: whitesmoke;
}

.button:hover {
  @include colorize(button-transition);
  background-color: $click;
  color: white;

  a, a:hover {
    animation: none;
    color: white;
  }
}

.button.active {
  border-color: #505050;
  background-color: #505050;
  color: white;
}

.button.active:hover {
  animation: none;
  border-color: #505050;
  background-color: #505050;
  color: white;
}

.button-group {
  margin-left: .5em;
  .button {
    margin-right: .3em;
  }
}

.tab-group {
  margin-left: 0;
  display: inline-flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.info {
  font-style: italic;
  font-size: .8em;
  color: lighten($primary, 10%);
  margin-left: .5em;
  font-weight: 500;
}

