@keyframes button-transition {
  0% {
    background-color: white;
    color: #0074B2;
  }
  100% {
    background-color: #0074B2;
    color: white;
  }
}

@keyframes link-transition {
  0% {
    color: #0074B2;
  }
  100% {
    color: #505050;
  }
}

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in, .container, .form-container, .dropdown-content {
  animation: .5s ease-out init;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #F9F9F9;
  color: #505050;
}

a {
  text-decoration: none;
  color: #0074B2;
  font-weight: 700;
}

a:hover {
  animation: 0.2s ease-in link-transition;
  color: #505050;
  cursor: pointer;
}

.shadow, .container, .form-container, .dropdown-content {
  box-shadow: 2px 3px #a0a0a0;
}

@media screen and (max-width: 580px) {
  .shadow, .container, .form-container, .dropdown-content {
    box-shadow: none;
  }
}

.container, .form-container, .dropdown-content {
  background-color: white;
  border: .5px solid lightgrey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: 8px;
  overflow: auto;
}

.public, .breadcrumb {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .public, .breadcrumb {
    width: 60%;
  }
}

@media screen and (max-width: 990px) {
  .public, .breadcrumb {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .public, .breadcrumb {
    width: 100%;
  }
}

.breadcrumb {
  margin: 2.3em auto;
  margin-bottom: 0;
}

.button-inline .button {
  display: inline-block;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #0074B2;
  color: #0074B2;
  border-radius: 5px;
  padding: .2em .5em;
}

.button:hover {
  animation: 0.2s ease-in button-transition;
  background-color: #0074B2;
  color: white;
}

.button:hover a, .button:hover a:hover {
  animation: none;
  color: white;
}

.button.active {
  border-color: #505050;
  background-color: #505050;
  color: white;
}

.button.active:hover {
  animation: none;
  border-color: #505050;
  background-color: #505050;
  color: white;
}

.button-group {
  margin-left: .5em;
}

.button-group .button {
  margin-right: .3em;
}

.tab-group {
  display: inline-flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.info {
  font-style: italic;
  font-size: .8em;
  color: #6a6a6a;
  margin-left: .5em;
  font-weight: 500;
}

.info-table {
  table-layout: fixed;
}

.info-table .labels {
  width: 10em;
}

.info-table > tbody > tr > td {
  vertical-align: top;
}

.list-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.list-table > tbody > tr > td {
  text-align: left;
  padding: .5em 0em;
  border-bottom: 1px solid #e9e9e9;
}

.list-table > tbody > tr > td.text-right {
  text-align: right;
}

.list-table th {
  text-align: left;
  padding: .5em 0em;
  font-size: 1.5em;
  font-family: "Poiret One", cursive;
  border-bottom: 1px solid #9d9d9d;
  font-weight: 700;
}

.list-table th.text-right {
  text-align: right;
}

@keyframes button-transition {
  0% {
    background-color: white;
    color: #0074B2;
  }
  100% {
    background-color: #0074B2;
    color: white;
  }
}

@keyframes link-transition {
  0% {
    color: #0074B2;
  }
  100% {
    color: #505050;
  }
}

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in, .container, .form-container, .dropdown-content {
  animation: .5s ease-out init;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #F9F9F9;
  color: #505050;
}

a {
  text-decoration: none;
  color: #0074B2;
  font-weight: 700;
}

a:hover {
  animation: 0.2s ease-in link-transition;
  color: #505050;
  cursor: pointer;
}

.shadow, .container, .form-container, .dropdown-content {
  box-shadow: 2px 3px #a0a0a0;
}

@media screen and (max-width: 580px) {
  .shadow, .container, .form-container, .dropdown-content {
    box-shadow: none;
  }
}

.container, .form-container, .dropdown-content {
  background-color: white;
  border: .5px solid lightgrey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: 8px;
  overflow: auto;
}

.public, .breadcrumb {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .public, .breadcrumb {
    width: 60%;
  }
}

@media screen and (max-width: 990px) {
  .public, .breadcrumb {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .public, .breadcrumb {
    width: 100%;
  }
}

.breadcrumb {
  margin: 2.3em auto;
  margin-bottom: 0;
}

.button-inline .button {
  display: inline-block;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #0074B2;
  color: #0074B2;
  border-radius: 5px;
  padding: .2em .5em;
}

.button:hover {
  animation: 0.2s ease-in button-transition;
  background-color: #0074B2;
  color: white;
}

.button:hover a, .button:hover a:hover {
  animation: none;
  color: white;
}

.button.active {
  border-color: #505050;
  background-color: #505050;
  color: white;
}

.button.active:hover {
  animation: none;
  border-color: #505050;
  background-color: #505050;
  color: white;
}

.button-group {
  margin-left: .5em;
}

.button-group .button {
  margin-right: .3em;
}

.tab-group {
  display: inline-flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.info {
  font-style: italic;
  font-size: .8em;
  color: #6a6a6a;
  margin-left: .5em;
  font-weight: 500;
}

.form-style, input, select, textarea {
  padding: .3em .3em;
  width: 100%;
  box-sizing: border-box;
  color: #373737;
  border-radius: 5px;
  border: 1px solid #9d9d9d;
  outline: none;
}

.input-group {
  margin-bottom: .5em;
}

input.inline {
  width: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  width: 20rem;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .form-box {
    width: 100%;
  }
}

.form-box input[type="checkbox"] {
  width: initial;
  margin-right: .3em;
}

.form-box a + a {
  margin-left: 1em;
}

body {
  overflow-x: hidden;
}

#menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0074B2;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  font-size: 1.3em;
}

#menu svg {
  cursor: pointer;
  margin: 0 1rem;
}

#menu a svg, #menu a:hover svg {
  color: white;
}

.link {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.dropdown {
  margin-left: .3em;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  animation: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: .2em;
  display: block;
  position: absolute;
  z-index: 1;
}

span.draft, span.published, span.inactive {
  border-radius: 3px;
  padding: 0em .3em;
  font-size: 14px;
  margin: 0 .3em;
  color: whitesmoke;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.5);
  z-index: 1;
}

.backdrop .public, .backdrop .breadcrumb {
  margin-top: .5rem;
}

.messages {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #dff0d7;
  color: #3a773a;
  border: 1px solid #3a773a;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: 600;
  animation: 1.5s ease-out slide-in;
}

.messages .icon-box {
  font-size: initial;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  color: whitesmoke;
  background-color: #3a773a;
}

.messages .text-box {
  padding: 1rem;
}

@media screen and (max-width: 580px) {
  .messages {
    display: none;
  }
}

.draft {
  background-color: #E56F36;
}

.published {
  background-color: #767676;
}

.inactive {
  background-color: #222222;
}

.error {
  color: lightcoral;
  font-size: 12px;
}

@keyframes slide-in {
  0% {
    right: -20rem;
  }
  85% {
    right: 2rem;
  }
  100% {
    right: 1rem;
  }
}
