@import 'colors';

body {
  margin: 0;
  padding: 0;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Poiret One', cursive;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none ;
  color: inherit;
}

#root {
  display: flex;
  height: 100vh;
  color: $primaryColor;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $menuBackground;

  ul {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    flex: 1;
  }

  li {
    list-style: none;
    color: $menuColor;
    padding: .2em 0;
    
    a {
      font-size: 1.5em;
      letter-spacing: 1.8px;
      padding: 0em 2em;
    }
  }

  li:not(.active) :hover {
    opacity: .7;
  }

  .active {
    background-color: lighten($menuBackground, 15%);
  }

  .logo {
    animation: logo-spin infinite 10s linear;
    margin-top: 1em;
    padding: 0 4em;
    width: 75px;
  }
}

.main {
  flex: 8;
  overflow: auto;
}

.box-indentation {
  flex: 1;
  padding-bottom: 0em;
  margin-left: 1em;
}

.input-group {
  margin-bottom: .5em;
}

.public {
  margin-top: 5em;
  display: flex;
  align-items: flex-start;
  width: 100%;

  .left-sidebar {
    flex: 1;
  }

  .right-sidebar {
    flex: 1;
  }

  .container {
    flex-basis: 35%;
  }

  form {
    display: flex;
    width: 100%;

    .link {
      text-decoration: underline;
    }

    .link + .link {
      margin-left: 1em;
    }

    .button {
      margin: 1em 0;
      align-self: flex-start;
      text-align: center;
      padding: .2em 2em;
    }
  }
}

.container {
  border: .5px solid lightgrey;
  background-color: #FFF;
  padding: 0 1em;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 2px 3px darken(lightgray, 20%);

  .headline {
    padding-bottom: .5em;
    border-bottom: 1px solid $primaryColor;
    font-family: 'Poiret One', cursive;
  }
}

.container-fluid {
  @extend .container;
  margin: 1em;
  
  .list {
    .item {
      margin: .5em 0;

      .name {
        font-size: 1.3em;
      }

      .info {
        padding-left: 1em;
      }
    }

    .info {
      font-style: italic;
      font-size: 1em;
      color: darkgrey;
    }
  }

  .card {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      margin-bottom: .1em;
      
      .label {
        flex: 1;
        font-weight: 700;
      }

      .value {
        flex: 4;
      }

      .link {
        text-decoration: underline;
      }
    }
  }

  .form-container {
    display: flex;

    .right-sidebar {
      flex: 1;
    }
  }
}

.form-style {
  padding: .3em .3em;
  width: 100%;
  box-sizing: border-box;
  color: darken($primaryColor, 10%);
  border-radius: 5px;
  border: 1px solid lighten($primaryColor, 30%);
  outline: none;
}

form {
  display: inline-flex;
  flex-basis: 30%;
  flex-direction: column;

  input {
    @extend .form-style;
  }

  input[type="checkbox"] {
    width: initial;
    margin-right: .3em;
  }

  textarea {
    @extend .form-style;
    height: 5em;
  }

  select {
    @extend .form-style;
  }

  .button {
    margin: 0 1em 1em 0em;
  }
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  display: inline-block;
  margin: 0 .3em;
  padding: .2em .5em; 
}

.button-group {
  .button{
    margin: 0;
    margin-bottom: 1em;
  }

  .button + .button {
    margin-left: .3em;
  }
}

.button:hover {
  opacity: .7;
}

span%status {
  border-radius: 3px;
  padding: 0em .3em;
  font-size: 14px;
  margin: 0 .3em; 
  color: $statusColor;
}

.draft {
  @extend %status;
  background-color: $draft;
}

.published {
  @extend %status;
  background-color: $published;
}

.inactive {
  @extend %status;
  background-color: $inactive;
}

.error {
  color: $error;
  font-size: 12px;
}

@keyframes logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}