@import 'variables';
@import 'main';
@import 'tournaments';
@import 'forms';

body {
  overflow-x: hidden;
}

table {
  .score{
    font-size: .8em;
    font-weight: 700;
    sup {
      font-size: .8em;
    }
  }
}

.round-robin-table{
  border-spacing: 1.3em .3em;

  th {
    text-align: left;
    border-bottom: 1px solid $primary;
    padding: .8em 0;
  }

  td{
    text-align: center;
  }

  .team-label {
    text-align: left;
    width: 16em;
  }

  margin: 1.5em 0;
}

.match-result-table {
  td {
    border: none;
  }

  th {
    border: none;
  }

  input{
    width: 3rem;
  }
}

.elimination-table {
  table-layout: fixed;

  th {
    border-bottom: 1px solid $primary;
  }

  .td-container{
    display: flex;
    align-items: center;
    border: .5px solid rgba(153, 153, 153, 0.50);
    border-left:none; 
    padding-right: .8rem;
  }

  .number {
    width: 2em;
  }

  .seed {
    width: 2em;
    color: #AEAEAE;
  }

  .delim {
    border-top: 1px dotted rgba(153, 153, 153, 0.50) ;
  }

  .team-label{
    border: .5px solid rgba(153, 153, 153, 0.25);
    width: 12em;
    height: auto;
    min-height: 2em;
    word-wrap: break-word;
  }

  .button.h2h {
    @extend .top-to-bottom;

    display: inline-block;
    border-radius: 0px;
    letter-spacing: 0;
    font-size: .8rem;
    padding: .5rem .1rem;
    margin-right: .3rem;
  }
  

  .match-table {
    width: 18rem;
    th {
      display: table-cell;
      border: none;
    }

    td{
      display: table-cell;
      padding: .5rem 0;
      // border: 1px solid black;
    }
  }
}

#menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $click;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  font-size: 1.3em;

  svg {
    cursor: pointer;
    margin: 0 1rem;
  }

  a svg, a:hover svg {
    color: white;
  }
}

.header {
  font-family: $secondaryFont;
  margin:0;
  padding: 0;
  padding-bottom: .3em;
  margin-bottom: .5em;
  border-bottom: 1px solid $primary;
}

.link {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.dropdown {
  margin-left: .3em;
  position: relative;
}

.top-to-bottom{
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.dropdown-content {
  @extend .container;
  animation: none;
  font-family: $primaryFont;
  font-size: 1rem;
  font-weight: 500;
  margin-top: .2em;
  display: block;
  position: absolute;
  z-index: 1;
}

span%status {
  border-radius: 3px;
  padding: 0em .3em;
  font-size: 14px;
  margin: 0 .3em; 
  color: $statusColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.5);
  z-index: 100;

  .public {
    margin-top: .5rem;
  }
}

.messages {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #dff0d7;
  color: #3a773a;
  border: 1px solid #3a773a;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: 600;
  animation: 1.5s ease-out slide-in;

  .icon-box {
    font-size: initial;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: whitesmoke;
    background-color:#3a773a;
  }

  .text-box {
    padding: 1rem;
  }

  @media screen and (max-width: 580px){
    display: none;
  }
}

.draft {
  @extend %status;
  background-color: $draft;
}

.published {
  @extend %status;
  background-color: $published;
}

.inactive {
  @extend %status;
  background-color: $inactive;
}


.error {
  color: $error;
  font-size: 12px;
}

@keyframes slide-in {
  0%{
    right: -20rem;
  }

  85%{
    right: 2rem;
  }
  100%{
    right: 1rem;
  }
}
