.info-table {
  table-layout: fixed;
}

.info-table .labels {
  width: 10em;
}

.info-table > tbody > tr > td {
  vertical-align: top;
}

.list-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.list-table > tbody > tr > td {
  text-align: left;
  padding: .5em 0em;
  border-bottom: 1px solid #e9e9e9;
}

.list-table > tbody > tr > td.text-right {
  text-align: right;
}

.list-table th {
  text-align: left;
  padding: .5em 0em;
  font-size: 1.5em;
  font-family: "Poiret One", cursive;
  border-bottom: 1px solid #9d9d9d;
  font-weight: 700;
}

.list-table th.text-right {
  text-align: right;
}
