//$linesColor: black;
$linesColor: rgb(159, 197, 23);
//$linesColor: grey;

.match-box {
  position: relative;
  padding: .3rem .8rem;
  border: 1px solid $linesColor;
  cursor: pointer;
  min-width: 12rem;
}

.match-box-team {
  display: flex;
  justify-content: space-between;

  &:first-child {
    border-bottom: 1px dashed lightgrey;
  }
}

.group-box {
  border: 2px solid $linesColor;
  height: 300px;

  .group-box-header {
    display: flex;
    align-items: center;
  }

  .group-box-team-info {
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: .5rem 0;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }
}


// BRACKET
.bracket {
  // height: 100%;
  overflow-x: auto;
  display: flex;
  // background-color: rgba(245, 245, 245, 1);
}

.round {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.round-title {
  flex-basis: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  // border-right: 1px dashed #e2e2e2;
  list-style: none;
  margin: 0;
  padding: 0;

  .round:last-child & {
    border: 0;
  }
}

.item {
  display: flex;
  flex: 0 1 auto;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  margin: 20px;

  &::after {
    margin-right: -21px;
    position: absolute;
    right: 0;
    content: '';
    display: block;
    width: 20px;
    height: 45%;
    border-right: 2px solid $linesColor;
  }

  &:nth-child(odd)::after {
    top: 50%;
    border-top: 2px solid $linesColor;
    transform: translateY(-1px);

    .list & {
      border-top-right-radius: 0.6em;
    }
  }
  
  &:nth-child(even)::after {
    bottom: 50%;
    border-bottom: 2px solid $linesColor;
    transform: translateY(1px);

    .list & {
      border-bottom-right-radius: 0.6em;
    }
  }

  .round:first-child & {
      padding-left: 0;
  }
  .round:last-child & {
      padding-right: 0;

      &::after {
        display: none;
      }
  }
}

.match {
  width: 100%;

  &::before,
  &::after {
    margin-left: -21px;
    position: absolute;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
    width: 20px;
    height: 20%;
    border-left: 2px solid $linesColor;
  }

  &::before  {
    bottom: 50%;
    border-bottom: 2px solid $linesColor;
    transform: translate(0, 1px);
    
    .list & {
      border-bottom-left-radius: 0.6em;
    }
  }

  &::after  {
    top: 50%;
    border-top: 2px solid $linesColor;
    transform: translate(0, -1px);
    
    .list & {
      border-top-left-radius: 0.6em;
    }
  }
}

.round:first-child .match {
  &::before,
  &::after {
    display: none;
  }
}